<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liang.virtualdoctor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 开启摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <!--设置录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activitys.FlashScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activitys.SearchBySubjectActivity" />
        <activity android:name=".ui.activitys.WebViewActivity" />
        <activity android:name=".ui.activitys.HomeActivity" />
        <activity android:name=".ui.activitys.AdActivity" />
        <activity android:name=".ui.activitys.WeatherActivity" />
        <activity android:name=".ui.activitys.AboutActivity" />
        <activity android:name=".ui.activitys.AgreementActivity" />
        <activity android:name=".ui.activitys.BodyMapCheckActivity" />
        <activity android:name=".ui.activitys.CityChoiceActivity" />
        <activity android:name=".ui.activitys.ExamineActivity" />
        <activity android:name=".ui.activitys.LoginActivity" />
        <activity android:name=".ui.activitys.HealthHelperActivity" />
        <activity android:name=".ui.activitys.SearchActivity" />
        <activity android:name=".ui.activitys.SettingActivity" />
        <activity android:name=".ui.activitys.SymptomChoiceActivity" />
        <activity android:name=".ui.activitys.UserActivity" />
        <activity android:name=".ui.activitys.UserPwForgetActivity" />
        <activity android:name=".ui.activitys.RegisterActivity" />
        <activity android:name=".ui.activitys.FeekbackActivity" />
        <activity android:name=".ui.activitys.NearlyActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="O1nof7OFIqDD5Zb88soufQBFwSiUdFY8" />

        <!-- 这个服务必加，否则定位不成功 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>
        <!-- ###################注册SDK使用的Activity###################### -->
        <!-- 分享编辑页 -->
        <!-- 友盟APPKEY -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="O1nof7OFIqDD5Zb88soufQBFwSiUdFY8"></meta-data>

        <activity android:name=".ui.activitys.MoodActivity"></activity>
        <activity
            android:name="com.emokit.sdk.heartrate.FacedetectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.emokit.sdk.senseface.CameraActivity"
            android:screenOrientation="portrait" >
        </activity>
        <meta-data
        android:name="EMOKIT_AID"
        android:value="100564" />
        <meta-data
        android:name="EMOKIT_KEY"
        android:value="3b4f9cc2564ed79f07e942167f29b33e" />
        <meta-data
        android:name="EMOKIT_RecordTaskAnimation"
        android:value="1" />
    </application>

</manifest>
